@import "../../styles.scss";
@import "../../styles/navbar-button.scss";

header {
    background-color: $--primary-color;
    color: $--secondary-color;

    padding: 20px; /* Espacement intérieur */
  }
  
  nav ul {
    list-style: none; /* Supprimer les puces */
  }
  
  nav ul li {
    display: inline; /* Afficher les éléments en ligne */
    margin-right: 20px; /* Espacement entre les éléments de la liste */
  }
  
  nav ul li a {
    color: $--accent-color; /* Couleur des liens */
    text-decoration: none; /* Supprimer le soulignement */
  }
