<h2>Liste des membres :</h2>

<button (click)="showAddMember()">Ajouter un membre</button>

<div class="members-list">
  <div class="member-columns">
    <div>Nom</div>
    <div>Prénom</div>
    <div>Âge</div>
    <div>License</div>
    <div>Solde</div>
    <div>Actions</div>
  </div>
  <div *ngFor="let member of members" class="member-details">
    <div>{{ member.name }}</div>
    <div>{{ member.firstName }}</div>
    <div>{{ member.age }} ans</div>
    <div>{{ member.license?.startDate ? (member.license!.startDate | date: 'dd/MM/yyyy') : 'Pas de license' }}</div>
    <div>{{ member.solde }} €</div>
    <div class="button-group">
    <!-- <button>- 3 €</button>
    <button>+ 3 €</button>
    <button>+ 10 €</button>
    <button>+ 20 €</button> -->
    <button (click)="showDetails(member)">Détails</button>
    <button (click)="editMember(member)">Modifier</button>
    <button (click)="confirmDelete(member)">Supprimer</button>
    </div>
  </div>

  <!-- <div *ngIf="selectedMember" class="member-details-page">
    <h2>Détails du membre</h2>
    <p>Nom: {{ selectedMember.name }}</p>
    <p>Âge: {{ selectedMember.age }}</p>
  </div> -->
</div>
