@import '../../../styles/button.scss';
@import '../../../styles/title.scss';

.members-list {
  border: 1px solid #ccc;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.member-columns,
.member-details {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Six colonnes pour les données */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.member-columns div{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 8px;

  div {
    padding: 5px;
  }
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

.button-group button {
  margin-left: 5px;
}