// Définition des variables pour les couleurs des boutons
$button-bg-color: #3498db; // Couleur de fond des boutons
$button-text-color: #ffffff; // Couleur du texte des boutons
$button-padding: 8px 16px; // Espacement intérieur des boutons

// Style des boutons
button {
  background-color: $button-bg-color;
  color: $button-text-color;
  padding: $button-padding;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    filter: brightness(85%);
  }
}