h1 {
    font-size: 2.5em; /* Taille de la police */
    font-weight: bold; /* Gras */
    color: #333; /* Couleur du texte */
    margin-bottom: 20px; /* Marge en bas */
  }
  
  h2 {
    font-size: 2em; /* Taille de la police */
    font-weight: bold; /* Gras */
    color: #555; /* Couleur du texte */
    margin-bottom: 15px; /* Marge en bas */
  }