/* Style pour la boîte de dialogue */
.custom-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style pour l'arrière-plan semi-transparent */
  .custom-dialog-container + .cdk-overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.6); /* Couleur semi-transparente */
  }