
.members-list {
    list-style: none; /* Supprime les puces de liste */
    padding: 0; /* Supprime les marges par défaut de la liste */
  }
  
  .members-list li {
    padding: 10px; /* Ajoute un espacement autour de chaque élément de liste */
    border-bottom: 1px solid #ccc; /* Ajoute une bordure basse pour séparer les éléments */
  }
  
  .members-list li:last-child {
    border-bottom: none; /* Supprime la bordure basse du dernier élément */
  }
  h2{
    text-align: center;
  }
  